<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    {% block title %}
    <title>GERMAN CREDIT ANALYSIS</title>
    {% endblock %}
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    {% block head %}
    <!-- Favicon -->
    <link href="{{url_for('static',filename='img/favicon.ico')}}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;500&display=swap" rel="stylesheet">  

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{url_for('static',filename='lib/animate/animate.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='lib/owlcarousel/assets/owl.carousel.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename='lib/lightbox/css/lightbox.min.css')}}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
    {% endblock %}
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-dark text-light px-0 py-2">
        <div class="row gx-0 d-none d-lg-flex">
            <div class="col-lg-7 px-5 text-start">
                <div class="h-100 d-inline-flex align-items-center me-4">
                    <span class="fa fa-phone-alt me-2"></span>
                    <span>698018166</span>
                </div>
                <div class="h-100 d-inline-flex align-items-center">
                    <span class="far fa-envelope me-2"></span>
                    <span>anzhi.notam@gmail.com</span>
                </div>
                <div class="h-100 d-inline-flex align-items-center">
                    <span class="far fa-person me-2"></span>
                    <span>Christian Notam et Djomo Jovita</span>
                </div>
            </div>
            <div class="col-lg-5 px-5 text-end">
                <div class="h-100 d-inline-flex align-items-center mx-n2">
                    <span>Follow Us:</span>
                    <a class="btn btn-link text-light" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-link text-light" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-link text-light" href=""><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-link text-light" href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
        <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0">GERMAN CREDIT ANALYSIS</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="{{url_for('index')}}" class="nav-item nav-link active">Home & Formulaire</a>
                <a href="{{url_for('tables')}}" class="nav-item nav-link">Dataframe</a>
                
            </div>
            
        </div>
    </nav>
    <!-- Navbar End -->

    {% block content %}
    {% endblock %}
    <!-- Carousel Start -->
    <div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{{url_for('static',filename='img/analyse1.jpg')}}" alt="Image">
                    
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <h1 class="display-1 text-white mb-5 animated slideInDown">Gerer la base des Credit Allemand</h1>
                                    <a href="" class="btn btn-primary py-sm-3 px-sm-4">Simulation du pret d'un credit </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{{url_for('static',filename='img/creditanal.jpg')}}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-7">
                                    <h1 class="display-1 text-white mb-5 animated slideInDown">Extraction des donnees sur la base texte</h1>
                                    <a href="" class="btn btn-primary py-sm-3 px-sm-4">Ressortir des predictions</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="carousel-item">
                    <img class="w-100" src="{{url_for('static',filename='img/analy1.jpg')}}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-7">
                                    <h1 class="display-1 text-white mb-5 animated slideInDown">Les differnts tables obtenu</h1>
                                    <a href="" class="btn btn-primary py-sm-3 px-sm-4">Explore More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        
            <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Top Feature Start -->
    <div class="container-fluid top-feature py-5 pt-lg-0">
        <div class="container py-5 pt-lg-0">
            <div class="row gx-0">
                
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="bg-white shadow d-flex align-items-center h-100 px-5" style="min-height: 160px;">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-light">
                                <i class="fa fa-times text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h4>PREDICTION SUR LE RISQUE DE CREDIT(Modele de Machine Learning importer)</h4>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="bg-white shadow d-flex align-items-center h-100 px-5" style="min-height: 160px;">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-light">
                                <i class="fa fa-times text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h4>TABLEAU DE BORD D'ANALYSE DE CREDIT</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="bg-white shadow d-flex align-items-center h-100 px-5" style="min-height: 160px;">
                        <div class="d-flex">
                            <div class="flex-shrink-0 btn-lg-square rounded-circle bg-light">
                                <i class="fa fa-times text-primary"></i>
                            </div>
                            <div class="ps-3">
                                <h4>TABLES STATISTIQUE OBTENU </h4>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
    <!-- Top Feature End -->


   

    <!-- Facts Start -->
    <div class="container-fluid facts my-5 py-5" data-parallax="scroll" data-image-src="{{url_for('static',filename='img/analyse.jpg')}}">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-sm-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                    <h1 class="display-4 text-white" data-toggle="counter-up">MODULE1</h1>
                    <span class="fs-5 fw-semi-bold text-light">FORMULAIRE DE PREDICTION</span>
                </div>
                <div class="col-sm-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                    <h1 class="display-4 text-white" data-toggle="counter-up">MODULE 2</h1>
                    <span class="fs-5 fw-semi-bold text-light">TABLEAU DE BORD DE LA BASE</span>
                </div>
                <div class="col-sm-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-4 text-white" data-toggle="counter-up">MODULE 3</h1>
                    <span class="fs-5 fw-semi-bold text-light">LE DATA FRAME DE LA BASE</span>
                </div>
               
            </div>
        </div>
    </div>
    <!-- Facts End -->


    
    
    
    
    
    
    
    
   



    


    <!-- Quote Start -->
    <div class="container-fluid quote my-5 py-5" data-parallax="scroll" data-image-src="{{url_for('static',filename='img/analyse2.jpg')}}">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="bg-white rounded p-4 p-sm-5 wow fadeIn" data-wow-delay="0.5s">
                        <h4 class="display-5 text-center mb-5">Entrer les Informations sur la Predictions </h4>
                        
                    </div>
                    <form action ="{{ url_for('predict')}}" method="post">
                        
                        <div class="form-row">
                            <div class="form-group">
                                <label for="Status">STATUS</label>
                                <input type="text" class="form-control item" id="Status" name="Status" placeholder="Status">
                            </div>
                            <div class="form-group">
                                <label for="">Duration(in month)</label>
                                <input type="text" class="form-control item" id="Duration(in month)" name="Duration(in month)" placeholder="Duration of Employee">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Credit History">Credit History</label>
                            <input type="text" class="form-control item" id="Credit History" name="Credit History" placeholder="Credit History">
                        </div>
                        <div class="form-group">
                            <label for="CHOMAGE">Credit Amount</label>
                            <input type="text" class="form-control item" id="Credit Amount" name="Credit Amount" placeholder="Credit Amount">
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="Savings account">Savings account </label>
                                <input type="text" class="form-control item" id="Savings account" name="Savings account" placeholder="Savings account">
                            </div>
                            <div class="form-group">
                                <label for="Present Employment Since">Present Employment Since</label>
                                <input type="text" class="form-control item" id="Present Employment Since" name="Present Employment Since" placeholder="Present Employment Since">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="CREDIT">Personal Status and Sex </label>
                            <input type="text" class="form-control item" id="Personal Status and Sex" name="Personal Status and Sex" placeholder="Personal Status and Sex ">
                        </div>
                        <div class="form-group">
                            <label>Present residence since </label>
                            <input type="text" class="form-control item" id="Present residence since" name="Present residence since" placeholder="Present residence since">
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="Property">Property</label>
                                <input type="text" class="form-control item" id="Property" name="Property" placeholder="Property">
                            </div>
                            <div class="form-group">
                                <label for="Age(in years)">Age(in years)</label>
                                <input type="text" class="form-control item" id="Age(in years)" name="Age(in years)" placeholder="Age">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="Other Installemnt Plans">Other Installement Plans</label>
                                <input type="text" class="form-control item" id="Other Installemnt Plans" name="Other Installemnt Plans" placeholder="Other Installemnt Plans">
                            </div>
                            <div class="form-group">
                                <label for="Number of existing credit">Number of existing credit</label>
                                <input type="text" class="form-control item" id="Number of existing credit" name="Number of existing credit" placeholder="Number of existing credit">
                            </div>
                           
                        </div>
                    
                        <div class="form-row">
                            <div class="form-group">
                                <label for="Other Installemnt Plans">Number of people for maintenace</label>
                                <input type="text" class="form-control item" id="Number of people for maintenace" name="Number of people for maintenace" placeholder="Number of people for maintenace">
                            </div>
                            <div class="form-group">
                                <label for="Telephone">Telephone</label>
                                <input type="text" class="form-control item" id="Telephone" name="Telephone" placeholder="Telephone">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="Foreign Worker">Foreign Worker</label>
                                <input type="text" class="form-control item" id="Foreign Worker" name="Foreign Worker" placeholder="Foreign Worker">
                            </div>
                            <div class="form-group">
                                <label for="Purpose|Car(New)-dummy">Car(New)</label>
                                <input type="text" class="form-control item" id="Purpose|Car(New)-dummy" name="Purpose|Car(New)-dummy" placeholder="Purpose|Car(New)-dummy">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="Purpose|Car(Used)-dummy">Car(Used)</label>
                                <input type="text" class="form-control item" id="Purpose|Car(Used)-dummy" name="Purpose|Car(Used)-dummy" placeholder="Purpose|Car(Used)-dummy">
                            </div>
                            <div class="form-group">
                                <label for="Other debtors|None">Other debtors|None</label>
                                <input type="text" class="form-control item" id="Other debtors|None" name="Other debtors|None" placeholder="Other debtors|None">
                            </div>
                            <div class="form-group">
                                <label for="Other debtors|None">Other debtors|Co-applicant</label>
                                <input type="text" class="form-control item" id="Other debtors|Co-applicant" name="Other debtors|Co-applicant" placeholder="Other debtors|Co-applicant">
                            </div>
                        </div>
                        <div class="form-row">
                            
                            <div class="form-group">
                                <label for="Other debtors|None ">Housing|Rent </label>
                                <input type="text" class="form-control item" id="Housing|Rent" name="Housing|Rent" placeholder="Housing|Rent">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="Housing|None">Housing|None</label>
                                <input type="text" class="form-control item" id="Housing|None" name="Housing|None" placeholder="Housing|None">
                            </div>
                            <div class="form-group">
                                <label for="Job|Unemployed-non resident">Unemployed-non resident</label>
                                <input type="text" class="form-control item" id="Job|Unemployed-non resident" name="Job|Unemployed-non resident" placeholder="Job|Unemployed-non resident">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label for="Job|Unskilled resident">Unskilled resident</label>
                                <input type="text" class="form-control item" id="Job|Unskilled resident" name="Job|Unskilled resident" placeholder="Job|Unskilled resident">
                            </div>
    
                        </div>
                        <div class="form-group">
                            <label for="Job|skilled employee-official">Skilled employee-official</label>
                            <input type="text" class="form-control item" id="Job|skilled employee-official" name="Job|skilled employee-official" placeholder="Job|skilled employee-official">
                        </div>

                        <button type="submit" class="btn btn-success btn-block btn-large">Predict</button>
                    </form>
                    <div class="bg-white rounded p-4 p-sm-5 wow fadeIn" data-wow-delay="0.5s">
                        <h3 class="display-5 text-center mb-5">REPONSE DE LA PREDICTION:{{ prediction_text }}</h3>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quote End -->


  


    <!-- Team Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h2 class="fs-5 fw-bold text-primary">ANALYSE DE CREDIT ALLEMAND </h2>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item rounded">
                        <img class="img-fluid" src="{{url_for('static',filename='img/analyste-de-credit.jpg')}}" alt="">
                        <div class="team-text">
                            <h4 class="mb-0">PHOTOS 1</h4>
                            <div class="team-social d-flex">
                                <a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="team-item rounded">
                        <img class="img-fluid" src="{{url_for('static',filename='img/dataviz.jpg')}}" alt="">
                        <div class="team-text">
                            <h4 class="mb-0">PHOTOS 2</h4>
                            <div class="team-social d-flex">
                                <a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="team-item rounded">
                        <img class="img-fluid" src="{{url_for('static',filename='img/analy1.jpg')}}" alt="">
                        <div class="team-text">
                            <h4 class="mb-0">PHOTO 3</h4>
                            <div class="team-social d-flex">
                                <a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-square rounded-circle me-2" href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


    


    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-light footer mt-5 py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-4">Our Office</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Emana, Yaounde, Cameroun</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>698018166</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>anzhi.notam@gmail.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-4">Services</h4>
                    <a class="btn btn-link" href="">Extraction de la base de Credit Allemend</a>
                    
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-white mb-4">Quick Links</h4>
                    <a class="btn btn-link" href="">Predictions</a>
                    <a class="btn btn-link" href="">Tableau</a>
                    <a class="btn btn-link" href="">Dashboard</a>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Copyright Start -->
    <div class="container-fluid copyright py-4">
        <div class="container">
            <div class="row">
               
            </div>
        </div>
    </div>
    <!-- Copyright End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{url_for('static',filename='lib/animate/animate.min.css')}} "></script>
    <script src="{{url_for('static',filename='lib/easing/easing.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/waypoints/waypoints.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/owlcarousel/owl.carousel.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/counterup/counterup.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/parallax/parallax.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/isotope/isotope.pkgd.min.js')}}"></script>
    <script src="{{url_for('static',filename='lib/lightbox/js/lightbox.min.js')}}"></script>

    <!-- Template Javascript -->
    <script src="{{url_for('static',filename='js/main.js')}}"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="/js/script.js"></script>
    

</body>

</html>